name: CI
on:
  push:
    branches:
      - main
    tags: ['*']
  pull_request:
    branches:
      - main
  workflow_dispatch:
concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: only if it is a pull request build.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}
jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    permissions: # needed to allow julia-actions/cache to proactively delete old caches that it has created
      actions: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.10'
        os:
          - ubuntu-latest
        arch:
          - x64
    steps:
      - uses: actions/checkout@v4
      - name: Install FFmpeg
        run: sudo apt-get update && sudo apt-get install -y ffmpeg
      - name: Install XVFB
        run: sudo apt-get install -y xvfb
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - run: python -m pip install --upgrade pip
      - run: pip install 'matplotlib==3.8.3' 'pyvista'
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/cache@v2
      - name: Build package with system Python
        env:
          PYTHON: python
        run: julia --project=. -e 'using Pkg; Pkg.add(name="OpenSSL_jll", version="3.0"); Pkg.instantiate(); Pkg.build("PyCall")'
      - name: Run tests with XVFB
        run: xvfb-run --auto-servernum julia --project=. -e 'using Pkg; Pkg.test(coverage=true)'
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v4
        with:
          files: lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: false

  docs:
    name: Documentation
    runs-on: ubuntu-latest
    permissions:
      actions: write # needed to allow julia-actions/cache to proactively delete old caches that it has created
      contents: write
      statuses: write
      pages: write
    steps:
      - uses: actions/checkout@v4
      - name: Install FFmpeg and XVFB
        run: sudo apt-get update && sudo apt-get install -y ffmpeg xvfb
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - run: python -m pip install --upgrade pip
      - run: pip install 'matplotlib==3.8.3' 'pyvista'
      - uses: julia-actions/setup-julia@v2
        with:
          version: '1.10'
          arch: x64
      - uses: julia-actions/cache@v2
      - name: Configure doc environment
        env:
          PYTHON: python
        shell: julia --project=docs --color=yes {0}
        run: |
          using Pkg
          Pkg.develop(PackageSpec(path=pwd()))
          Pkg.add(name="OpenSSL_jll", version="3.0")
          Pkg.instantiate()
          Pkg.build("PyCall")
      - name: Run doctests and deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
        run: xvfb-run --auto-servernum julia --project=docs --color=yes docs/make.jl
